/* Contenedor que centra solo los item-card */
.item-card-wrapper {
  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center;     /* centra vertical */
}

/* Tarjeta individual */
.item-card {
  background: black;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
  padding: 20px;
  cursor: pointer;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px; /* tamaño controlado */
  min-height: 250px;
  transition: all 0.3s ease;
  margin: 1.5rem;
}

/* Hover */
.item-card:hover {
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
  transform: translateY(-5px);
}

/* Título */
.item-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 12px;
  letter-spacing: 0.5px;
  color: whitesmoke;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.item-title:hover {
  color: #0ff;
  text-shadow: 0 0 8px rgba(0, 255, 255, 0.7);
}

/* Botón */
button {
  background-color: transparent;
  border: 2px solid #0ff;
  border-radius: 8px;
  margin-top: 1rem;
  padding: 0.8rem 1.2rem;
  color: #0ff;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0ff;
  color: black;
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.7);
}

/* Texto pequeño */
small {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #aaa;
}

/* Texto general */
p {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0.5rem 0;
}